
body {
    font-family: 'Inconsolata', sans-serif;
    background-color: #ff8000;
    color: #fefefe;
}

div {
    padding: 0;
    margin: 0;
}

#topContainer {
    width: 90%;
    padding-left: 5%;
}

#leftContainer, #mainContainer, #rightContainer {
    display: inline-block;
    width: 20%;
}

#mainContainer {
    width: 60%;
}

@media (max-width: 720px) {

    #leftContainer, #mainContainer, #rightContainer {
        display: block;
        width: 90%;
        padding-left: 5%;
    }

}